<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DataHelperSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="DataHelperSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.sacredheart.edu/DataHelper.asmx" binding="basicHttpBinding" bindingConfiguration="DataHelperSoap" contract="DataHelper.DataHelperSoap" name="DataHelperSoap"/>
        </client>
    </system.serviceModel>
</configuration>
